* {
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}

:root {
    --primary: rgb(5, 45, 15);
    --secondary: #b0ddda;
    --tertiary: #87ff2b;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
}

.page-frame {
    position: relative;
    min-height: 100vh;
    background: url(./assets/tile-bg.png) top right repeat;
    background-attachment: fixed;
    background-size: 300px 300px;
    background-repeat: repeat;
}

.page-content {
    margin: 30px 15vw 40px;
    background-color: var(--secondary);
    padding: 15px 15px 15px 15px;
    border: var(--tertiary) solid 3px;
}

h1 {
    margin-left: 10%;
    font-style: italic;
    font-family: 'UnifrakturMaguntia', Georgia, Times, 'Times New Roman', serif;
}

/* HEADER AND NAV */
.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-image: linear-gradient(to right, black , var(--primary));
    border-bottom: 2px solid black;
}
.header-brian {
    color: var(--tertiary);
    margin-left: 10vw;
    margin-top: 15px;
}
.nav a {
    margin-right: 5vw;
    color: whitesmoke;
}
.nav a.active, .nav a:hover {
    font-style: italic;
    color: var(--tertiary);
}

/* PROJECTS PAGE */
.proj-card-container {
    display: flex;
    flex-flow: row wrap;
}
.proj-card {
    height: 350px;
    width: 400px;
    margin: 10px;
    flex: 1;
    min-width: 300px;
    background-size: cover;
    border: 2px solid var(--primary);
    box-shadow: inset 0 0 40px 20px rgba(29, 37, 27, 0.787) ;
}
.hide {
    opacity: 0;
}
.proj-card:hover .hide {
    opacity: 1;
}
.proj-title {
    display: block;
    text-align: center;
    font-size: larger;
    color: var(--primary);
    background-color: var(--secondary);
}
.repo-link {
    display: block;
    width: 50px;
    margin-left: 70%;
    margin-top: 10px;
    opacity: .5;
}
.repo-link:hover {
    opacity: 1 ;
}

/* FOOTER */
.footer {
    background-color: var(--primary);
    position: absolute;
    bottom: 0px;
    height: 40px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.footer-link a {
    text-decoration: none;
    color: whitesmoke;
    margin: 5px 5vw;
}
.footer-link a:hover {
    font-style: italic;
    color: whitesmoke;
}