* {
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}

:root {
    --primary: rgb(5, 45, 15);
    --secondary: #c0f1ed;
    --tertiary: #83fcfc;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
}

.page-frame {
    position: relative;
    min-height: 100vh;
    height: calc(100% + 40px);
    background: url(./assets/tile-bg.png) top right repeat;
    background-attachment: fixed;
    background-size: 300px 300px;
    background-repeat: repeat;
    padding-bottom: 40px;
}

.page-content {
    margin: 30px 15vw 40px;
    background-color: var(--secondary);
    padding: 15px 15px 15px 15px;
    border: black double 5px;
}

h1 {
    margin-left: 10%;
    font-style: italic;
    font-family: 'UnifrakturMaguntia', Georgia, Times, 'Times New Roman', serif;
}

/* HEADER AND NAV */
.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-image: linear-gradient(to right, black , var(--primary));
    border-bottom: 2px solid black;
}
.header-brian {
    color: var(--secondary);
    margin-left: 10vw;
    margin-top: 15px;
}
.nav a {
    margin-right: 5vw;
    color: whitesmoke;
}
.nav a.active, .nav a:hover {
    font-style: italic;
    color: var(--secondary);
}

/* PROJECTS PAGE */
.proj-card-container {
    display: flex;
    flex-flow: row wrap;
}
.proj-card {
    height: 350px;
    width: 400px;
    margin: 10px;
    flex: 1;
    min-width: 300px;
    background-size: cover;
    border: 2px solid var(--primary);
    box-shadow: inset 0 0 40px 20px rgba(29, 37, 27, 0.787) ;
}
/* .proj-card:hover {
    filter: blur(1000);
    border: 10px solid black;
} */
.hide {
    margin-top: -17px;
    height: 315px;
    opacity: 0;
}
.proj-card:hover .hide {
    opacity: 1;
}
.proj-title {
    display: block;
    text-align: center;
    font-size: larger;
    color: var(--secondary);
    background-color: black;
    text-decoration: none;
}
.proj-title a {
    font-style: normal;
    text-decoration: none;
}
.proj-title:hover {
    color: var(--tertiary);
}
.repo-link {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    display: block;
    width: 50px;
    margin-left: 80%;
    margin-top: 15px;
    opacity: .7;
}
.repo-link:hover {
    color: var(--primary);
    font-style: italic;
    opacity: 1 ;
}
.deployed-link {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    display: block;
    width: 50px;
    margin-left: 80%;
    margin-top: 15px;
    opacity: .7;
}
.deployed-link:hover {
    color: var(--primary);
    font-style: italic;
    opacity: 1 ;
}


/* CONTACT */
.my-email {
    margin-left: 10%;
    font-size: 20px;
    font-style: italic;
}

/* RESUME */
.download-link {
    margin-left: 10%;
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

/* FOOTER */
.footer {
    background-color: var(--primary);
    position: absolute;
    bottom: 0px;
    height: 40px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.footer-link a {
    text-decoration: none;
    color: whitesmoke;
    margin: 5px 5vw;
}
.footer-link a:hover {
    color: whitesmoke;
    font-style: italic;
    color: var(--tertiary);
}